body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

header {
    text-align: center;
    color: white;
    background: #900C3F;
    box-shadow: 10px 5px 5px gray;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
}

.temperatureWrapper {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#temperatureDisplay {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 50px;
    border: 2px dotted black;
    border-radius: 10px;
}

.clockWrapper {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    margin-bottom: 35px;
    padding: 5px;
    font-size: 50px;
    border: 2px dotted black;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.weatherWrapper {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weatherIcon {
    padding: 5px;
    border: 2px dotted black;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

#weatherDisplay {
    padding: 5px;
    font-size: 25px;
    width: fit-content;
    height: fit-content;
}

.searchWrapper {
    grid-column: 1 / span 3;
    grid-row: 2;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.required, #errorMessage {
    color: red;
    font-weight: bold;
}

footer {
    background: lightcoral;
    text-align: center;
    font-weight: bold;
}

button {
    font-weight: bold;
}

#fahrenheitToCelsiusButton, #celsiusToFahrenheitButton {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
